html{
    background-color: #fa923f;
    padding: 10px;
}

body{
    background-color: yellow;
    padding: 10px;
    margin: 20px;
    position: relative;
 }

header{
    background-color: #f073e1;
    position: fixed;
    top: 0;
    left: 0;
}

nav{
    background-color: #f073e1;
    /* margin: 10px; */
    position: absolute;
    top : 0;
    left: 0;
}

footer{
    background-color: #f073e1;
    margin: 10px;
}