<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>grid</title>
</head>
<body>
    <div class="wrapper">
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, maxime laboriosam. Vero minima voluptas nisi ex enim quod dolore soluta magnam, obcaecati in magni corrupti molestiae non. Qui minus, iure atque magni excepturi velit ullam quis at vel recusandae incidunt sapiente commodi fugit, voluptas veniam voluptate dolorem. Ratione velit possimus praesentium illo suscipit eaque asperiores ab in itaque? Pariatur dolorum deleniti ullam reprehenderit quis! Sint, ducimus consequatur! Dolore ipsum minima quisquam animi sit quasi amet temporibus accusantium tempora nam? Dolorem!
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo velit, atque culpa sit, consectetur possimus deserunt voluptate quidem aspernatur ab alias repellendus totam, eum nobis? Eligendi reiciendis recusandae, modi et, sit perspiciatis, iste sint aliquid nostrum quisquam natus. Quia, unde?
        </div>

        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, maxime laboriosam. Vero minima voluptas nisi ex enim quod dolore soluta magnam, obcaecati in magni corrupti molestiae non. Qui minus, iure atque magni excepturi velit ullam quis at vel recusandae incidunt sapiente commodi fugit, voluptas veniam voluptate dolorem. Ratione velit possimus praesentium illo suscipit eaque asperiores ab in itaque? Pariatur dolorum deleniti ullam reprehenderit quis! Sint, ducimus consequatur! Dolore ipsum minima quisquam animi sit quasi amet temporibus accusantium tempora nam? Dolorem!
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo velit, atque culpa sit, consectetur possimus deserunt voluptate quidem aspernatur ab alias repellendus totam, eum nobis? Eligendi reiciendis recusandae, modi et, sit perspiciatis, iste sint aliquid nostrum quisquam natus. Quia, unde?
        </div>
    </div>
</body>
</html>